<link rel="stylesheet" href="/static/style.css">

<div class="container">
    <h2>Select Category</h2>

    <div class="button-grid">
        <a class="button cat-man" href="/plays/Man Offense">
            Man Offense
        </a>

        <a class="button cat-zone" href="/plays/Zone Offense">
            Zone Offense
        </a>

        <a class="button cat-blob" href="/plays/Blob">
            Blob
        </a>

        <a class="button cat-slob" href="/plays/Slob">
            Slob
        </a>

        <a class="button cat-defense" href="/plays/Defense">
            Defense
        </a>

        <a href="/" class="button" style="background-color: gray;">
            Home
        </a>
    </div>
</div>
