<link rel="stylesheet" href="/static/style.css">

<div class="container">
    <h2>{{ category }} Plays</h2>

    <div class="button-grid">
        {% for p in plays %}
            {% set color = (loop.index0 % 5) + 1 %}
            <a class="button play-{{ color }}" href="/stat/{{ category }}/{{ p }}">
                {{ p }}
            </a>
        {% endfor %}

        <a href="/category" class="button" style="background-color: gray;">
            Back to Categories
        </a>
    </div>
</div>


